# dependencies
/node_modules

# next
/.next/
/out/
next-env.d.ts

# testing
/coverage
/test-results
/playwright-report
/allure-results
/allure-report

# env
.env
.env*.local

# misc
.DS_Store
*.tsbuildinfo

# notas locales
.claude/TODO.md
